@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,300&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

@import "features";
@import "header";
@import "login";
@import "mediaquery";

a {
  text-decoration: none;
  color: $color3;
}

.home {
  text-align: center;
  .heading {
    @include styledText(2rem, 100, uppercase);
    padding-top: 10vmax;
  }

  p {
    margin: 2rem 0;
    font-weight: 900;
  }
}
.todosContainer {
  @include flexBox(column, center, flex-start);
  @include fill;
  @include container(900px, unset, 3rem 0);
}

.todo {
  background-color: $color2;
  border-radius: 5px;

  @include flexBox(row, center, space-between);
  width: 100%;
  padding: 2rem;
  > div:last-of-type {
    @include flexBox(row);
  }

  input {
    width: 2rem;
    height: 2rem;
  }
}

.loader {
  @include defaultStyle;
  @include flexBox(column, center, center);
  @include styledText(2rem, 100, uppercase);
  overflow-x: hidden;
  width: 100vw;
}

.btn {
  @include styledText;
  @include myButton;
}
.container {
  @include defaultStyle;
  padding: 5rem 2rem;
  background-color: $color4;
}

/* Define color variables */
$background-color: #f0f2f5;
$table-background-color: #ffffff;
$primary-color: #333;
$secondary-color: #777;
$border-color: #ddd;
$label-background-color: #f7f7f7;
$hover-background-color: #f1f1f1;

/* Basic SCSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for the profile container */
.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $background-color;
    padding: 20px;
}

/* Styling for the profile table */
.profile-table {
    background-color: $table-background-color;
    border: 1px solid $border-color;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%; /* Increase the width of the table */
    max-width: 800px; /* Set a maximum width for larger screens */

    .profile-row {
        display: flex;

        &:nth-child(odd) {
            background-color: $label-background-color;
        }

        &:hover {
            background-color: $hover-background-color;
        }

        .profile-cell {
            padding: 15px 20px;
            flex: 1;

            &.label {
                font-weight: bold;
                color: $primary-color;
                flex: 0 0 150px; /* Fixed width for label cells */
            }

            &.value {
                color: $secondary-color;
                word-break: break-all; /* Ensure long emails break onto the next line if necessary */
            }
        }
    }
}
